body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C8DEC8;
    padding: 139px 228px 89px 228px;
}

.appContainer{
    display: flex;
    padding: 81px 275px 62px 275px;
    width: 432px;
    min-height: 796px;
    background-color: #0D0714;
    border-radius: 80px;
}

.functionalContainer{
    display: flex;
    flex-direction: column;
    width: 432px;
    min-height: 653px;
}

.taskInputContainer{
    width: 432px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 59px;
}

.taskInput{
    background: none;
    border: 1px solid #3E1671;
    border-radius: 10px;
    height: 40px;
    width: 381px;
    display: inline;
    color: #777777;
}

.taskInputButton{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #9E78CF;
    border: none;
    
}

.toDoListContainer{
    width: 432px;
    min-height: 384px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.toDoText{
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 17px;
}

.toDoList{
    display: flex;
    flex-direction: column;
    width: 432px;
    min-height: 348px;
}

.taskCardContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 432px;
    height: 30px;
    background-color: #15101C;
    padding: 22px 21px 22px 21px;
    margin-bottom: 15px;
    border-radius: 10px;    
}

.taskText{
    width: 221px;
    height: 19px;
    font-size: 16px;
    line-height: 19.36px;
    color: #9E78CF;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.buttonsContainer{
    width: 68px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.interactiveButton{
    width: 30px;
    height: 30px;
    color: #9E78CF;
    background-color: #15101C;
    border: none;
}

.interactiveButton:hover{
    width: 30px;
    height: 30px;
    color: #15101C;
    background-color: #9E78CF;
    border: none;
    border-radius: 10px;
}

.toDoneContainer{
    width: 432px;
    min-height: 110px;
    display: flex;
    flex-direction: column;
}

.doneText{
    width: 221px;
    height: 19px;
    font-size: 16px;
    line-height: 19.36px;
    color: #78CFB0;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    text-decoration: line-through;
}
