body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C8DEC8;
    padding: 139px 228px 89px 228px;
}

.appContainer{
    display: flex;
    padding: 81px 275px 62px 275px;
    width: 983px;
    min-height: 796px;
    background-color: #0D0714;
    border-radius: 80px;
}

.functionalContainer{
    display: flex;
}